# Dependencies
node_modules/
frontend/node_modules/

# Cache
frontend/node_modules/.cache/

# Environment
backend/.env
backend/.env.local
backend/.env.production
backend/.env.example


.env
.env.example
.env.local
.env.production

# Build output
dist/
build/